.brand-slider-container {
    width: 100%;
    --brand-slider-gap: var(--space-m);
    --brand-slider-item-width: max(25%, 240px);
}

.brand-slider {
    width: 100%;
    max-width: 80vw;
    overflow: hidden;
    padding-block: var(--space-m);
    mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
}

.brand-slider-inner {
    width: max-content;
    display: flex;
    flex-wrap: nowrap;
    column-gap: var(--space-m);
    animation: scroll 30s linear infinite;
    will-change: transform;
    padding-block: 1rem;
}

.brand-slider-inner:hover:has(img:hover) {
    animation-play-state: paused;
} 

.brand-slider-item {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand-slider-item img {
    width: var(--brand-slider-item-width);
    height: auto;
    object-fit: cover;
    filter: grayscale(100%);
    opacity: 0.5;
}

.brand-slider-item img:hover {
    filter: grayscale(0%);
    opacity: 1;
}

@keyframes scroll {
    to {
        transform: translateX(calc(-50% - var(--space-m) / 2));
    }
}