.brand-slider-container {
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: var(--space-xl) 0;
    width: 100%;
    max-width: 100%;
    mask-image: linear-gradient(
        var(--mask-direction, to right),
        hsl(0 0% 0% / 0),
        hsl(0 0% 0% / 1) 20%,
        hsl(0 0% 0% / 1) 80%,
        hsl(0 0% 0% / 0)
      );
}
.brand-slider {
    --size: clamp(10rem, 1rem + 40vmin, 20rem);
    --gap: calc(var(--size) / 7);
    --scroll-start: 0;
    --scroll-end: calc(-100% - var(--gap));
    --duration: 40s;

    @media (max-width: 768px) {
        --duration: 20s;
        --gap: calc(var(--size) / 3);
    }

    position: relative;
    display: flex;
    align-items: center;
    padding: var(--space-xl) 0;
    width: 100%;
    max-width: 100%;
    animation: scrolling var(--duration) linear infinite;

    @media (prefers-reduced-motion: reduce) {
        animation-play-state: paused;
    }

    .brand-slider-inner {
        flex-shrink: 0;
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        overflow: hidden;
        gap: var(--gap);
        white-space: nowrap;
        width: max-content;
        min-width: 100%;
        align-items: center;
        justify-content: space-around;
    }

    .brand-slider-item {
        white-space: nowrap;

        img {
            width: calc(var(--size) * .75);
            height: auto;
            object-fit: contain;
            filter: grayscale(100%);
            aspect-ratio: 16 / 9;
        }
    }

}

@keyframes scrolling {
    from {
        transform: translateX(var(--scroll-start));
      }
      to {
        transform: translateX(var(--scroll-end));
      }
  }
