.gradient-wrapper {
    position: fixed;
    inset: 0;
    z-index: 0;
    width: 100%;
    height: 100dvw;
    overflow: hidden;

    .gradient-fill {
        position: absolute;
        inset: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background: linear-gradient(135deg,
         rgba(249, 237, 36, 0.10) 3.26%, 
         rgba(0, 0, 0, 0.02) 85.73%), 
         linear-gradient(25deg, 
         rgba(0, 0, 0, 0.12) 20.2%, 
         rgba(151, 71, 255, 0.33) 74.07%), 
         var(--brand-color-tertiary);
         background-size: 200% 200%;
         background-position: 0% 0%;
        animation: gradient-fill 18s ease-in-out infinite;
    }
    
    .gradient-fill::before {
        content: '';
        position: absolute;
        inset: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: var(--brand-color-tertiary);
        opacity: 0.5;
    }
}

@keyframes gradient-fill {
    0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
}