.grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    column-gap: 20px;
    row-gap: 20px;
    width: min(100%, 1920px);
    margin-inline: auto;
    padding-inline: 48px;
    padding-top: 48px;
    padding-bottom: 56px;
}

.grid-col-1 {
    grid-column: 1 / 2;
}

.grid-col-2 {
    grid-column: 2 / 3;
}

.grid-col-3 {
    grid-column: 3 / 4;
}

.grid-col-4 {
    grid-column: 4 / 5;     
}

.grid-col-5 {
    grid-column: 5 / 6;
}

.grid-col-6 {
    grid-column: 6 / 7;
}

.grid-col-7 {
    grid-column: 7 / 8;
}

.grid-col-8 {
    grid-column: 8 / 9;
}

.grid-col-9 {
    grid-column: 9 / 10;
}

