:root {
    --header-font-family: 'Sofia Pro', 'Avenir Next', 'Helvetica Neue', sans-serif;
    --body-font-family: 'Fira Mono', ui-monospace, SFMono-Regular, Menlo, monospace;
    --type-h1-family: 'Sofia Pro', 'Avenir Next', 'Helvetica Neue', sans-serif;
    --type-h1-weight: 800;
    --type-h1-size: clamp(3.6rem, 10vw, 76.29px);
    --type-h1-line-height: 1.2;
    --type-h1-letter-spacing: -0.026em;

    --font-weight-black: 900;
    --font-weight-bold: 700;
    --font-weight-regular: 400;
    --font-weight-light: 300;
  
    --type-h2-family: 'Sofia Pro', 'Avenir Next', 'Helvetica Neue', sans-serif;
    --type-h2-weight: 700;
    --type-h2-size: clamp(2rem, 6vw, 61.04px);
    --type-h2-line-height: 1.25;
    --type-h2-letter-spacing: -0.033em;

    --size-step-000: clamp(0.740625rem, 0.73rem + 0.07vw, 0.78125rem);
    --size-step-00: clamp(0.833125rem, 0.79rem + 0.19vw, 0.9375rem);
    --size-step-0: clamp(0.9375rem, 0.87rem + 0.33vw, 1.125rem);
    --size-step-1: clamp(1.055rem, 0.95rem + 0.52vw, 1.35rem);
    --size-step-2: clamp(1.18625rem, 1.03rem + 0.77vw, 1.62rem);
    --size-step-3: clamp(1.335rem, 1.11rem + 1.08vw, 1.94375rem);
    --size-step-4: clamp(1.501875rem, 1.20rem + 1.48vw, 2.3325rem);
    --size-step-5: clamp(1.689375rem, 1.28rem + 1.97vw, 2.799375rem);
    --size-step-6: clamp(1.900625rem, 1.37rem + 2.59vw, 3.359375rem);
    --size-step-7: clamp(2.138125rem, 1.44rem + 3.37vw, 4.03125rem);
    --size-step-8: clamp(2.405625rem, 1.51rem + 4.32vw, 4.8375rem);
    --size-step-9: clamp(2.70625rem, 1.57rem + 5.51vw, 5.805rem);
    --size-step-10: clamp(3.03125rem, 1.59rem + 6.99vw, 6.965625rem);
    --size-step-11: clamp(3.78875rem, 1.35rem + 11.84vw, 10.448125rem);
    --size-step-12: clamp(4.735625rem, 0.73rem + 19.44vw, 15.671875rem);

    --leading-micro: 0.85;
    --leading-small: 1.15;
    --leading-medium: 1.25;
    --leading-large: 1.5;
    --leading-jumbo: 1.75;
  
    --type-body-family: 'Fira Mono', ui-monospace, SFMono-Regular, Menlo, monospace;
    --type-body-weight: 400;
    --type-body-size: 16px;
    --type-body-line-height: 1.5;
    --type-body-letter-spacing: -0.02em;
  
    --space-xs: 8px;
    --space-s: 16px;
    --space-m: 24px;
    --space-l: 32px;
    --space-xl: 40px;
    --space-xxl: 48px;

    --brand-color-primary: #9747ff;
    --brand-color-secondary: #f9ed24;
    --brand-color-tertiary: #000000;
    --brand-color-quaternary: #ffffff;
  }

  body {
    position: relative;
  }

  .body-fill {
    background: linear-gradient(to top right, rgba(249, 237, 36, 0.10) 3.26%, rgba(0, 0, 0, 0.02) 85.73%), linear-gradient(25deg, rgba(0, 0, 0, 0.12) -82.29%, rgba(151, 71, 255, 0.12) 74.07%), #000;
    position: absolute;
    inset: 0;
    z-index: 0;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      z-index: 1;
      background-color: var(--brand-color-tertiary);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.75' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%' height='100%' filter='url(%23noise)' opacity='0.3'/%3E%3C/svg%3E");
      background-blend-mode: multiply;
      background-size: 100% 100%;
      opacity: 0.4;
      backdrop-filter: blur(2px);
    }

  }

  /* lift it up so it doesn't overlap with the content */
  :not(.body-fill, .gradient-wrapper, .gradient-fill) {
    position: relative;
    z-index: 2;
  }

  .sofia-pro {
    font-family: var(--header-font-family);
  }

  .sofia-pro--black {
    font-weight: var(--font-weight-black);
  }

  .sofia-pro--bold {
    font-weight: var(--type-h2-weight);
  }
  .sofia-pro--regular {
    font-weight: var(--type-body-weight);
  } 

  .fira-mono--bold {
    font-weight: var(--type-body-weight);
  }
  .fira-mono--regular {
    font-weight: var(--type-body-weight);
  }

  .fira-mono {
    font-family: var(--body-font-family);
  }



.type-h1 {
  font-family: var(--type-h1-family);
  font-size: var(--type-h1-size);
  font-weight: var(--type-h1-weight);
  line-height: var(--type-h1-line-height);
  letter-spacing: var(--type-h1-letter-spacing);
}

.type-h2 {
  font-family: var(--type-h2-family);
  font-size: var(--type-h2-size);
  font-weight: var(--type-h2-weight);
  line-height: var(--type-h2-line-height);
  letter-spacing: var(--type-h2-letter-spacing);
}

.type-body {
  font-family: var(--type-body-family);
  font-size: var(--type-body-size);
  font-weight: var(--type-body-weight);
  line-height: var(--type-body-line-height);
  letter-spacing: var(--type-body-letter-spacing);
}

.type-body-link {
  font-family: var(--type-body-family);
  font-size: var(--type-body-size);
  font-weight: var(--type-body-weight);
  line-height: var(--type-body-line-height);
  letter-spacing: var(--type-body-letter-spacing);
  color: var(--brand-color-secondary);
  text-decoration: none;
  text-decoration: none;

  &:visited {
    color: var(--brand-color-secondary);
  }

  &:hover {
    color: var(--brand-color-primary);
    border-bottom: 1px solid var(--brand-color-secondary);
  }

}